@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

canvas {
  border: 3px solid darkblue;
}

h4 {
  font-family: "Poppins", sans-serif;
  color: orange;
}

.center {
  display: grid;
  place-items: center;
  animation-name: start-fade;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes start-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#lienzo {
  background-color: rgb(162, 219, 255);
}
