canvas {
  border: 3px solid darkblue;
}

h4 {
  font-family: "Poppins", sans-serif;
}

.padre {
  display: grid;
  place-items: center;
}

#lienzo {
  background-color: rgb(162, 219, 255);
}
